.btn {
	position:relative;
	display:inline-block;
	padding:6px 12px;
	font-size:14px;
	font-weight:600;
	line-height:20px;
	color:#333;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-color:#eee;
	background-image:-webkit-linear-gradient(#fcfcfc, #eee);
	background-image:linear-gradient(#fcfcfc, #eee);
	border:1px solid #d5d5d5;
	border-radius:3px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none
}
.btn-primary {
	color:#fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.15);
	background-color:#6cc644;
	background-image:-webkit-linear-gradient(#91dd70, #55ae2e);
	background-image:linear-gradient(#91dd70, #55ae2e);
	border:1px solid #5aad35
}
.btn-large {
	padding:0.75em 1.25em;
	font-size:inherit;
	border-radius:6px
}
.f3 {
	font-size:18px !important
}
@media (min-width: 768px) {
	.f3 {
		font-size:20px !important
	}
	.btn-block {
	display:block;
	width:100%;
	text-align:center
}